pipeline/SensorTelemetryBlobProcessor.json
{
	"name": "SensorTelemetryBlobProcessor",
	"properties": {
		"activities": [
			{
				"name": "Get Processable Bobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetProcessableBlobs]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ProcessableBlobMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Processable Blobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Processable Bobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Processable Bobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set Blob Path",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobPath",
								"value": {
									"value": "@{item().Path}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Blob Name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "blobName",
								"value": {
									"value": "@{item().BlobName}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Blob Path Processor",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Set Blob Path",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set Blob Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "BlobPathProcessor",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json",
									"Accept": "application/json"
								},
								"body": {
									"value": "@json(concat('{\"blobPath\":\"', variables('blobPath'), '\", \"blobName\":\"', variables('blobName'), '\"}'))",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "BlobPathProcessorFunctionConnection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy Data to DLS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Execute Blob Path Processor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SensorMessagesCSV",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@activity('Execute Blob Path Processor').output.containerName",
											"type": "Expression"
										},
										"folder": {
											"value": "@activity('Execute Blob Path Processor').output.path",
											"type": "Expression"
										},
										"blobName": {
											"value": "@activity('Execute Blob Path Processor').output.blobName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"blobPath": {
				"type": "String"
			},
			"blobName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}