iomegadatafactory/PartialArmTemplates/ArmTemplate_9_16_2020_15_9_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "iomegadatafactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SensorTelemetryBlobProcessor')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Processable Bobs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[uspGetProcessableBlobs]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ProcessableBlobMetadata",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Processable Blobs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Processable Bobs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Processable Bobs').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Set Blob Path",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "blobPath",
										"value": {
											"value": "@{item().Path}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set Blob Name",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "blobName",
										"value": {
											"value": "@{item().BlobName}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute Blob Path Processor",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "Set Blob Path",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set Blob Name",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "BlobPathProcessor",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json",
											"Accept": "application/json"
										},
										"body": {
											"value": "@json(concat('{\"blobPath\":\"', variables('blobPath'), '\", \"blobName\":\"', variables('blobName'), '\"}'))",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "BlobPathProcessorFunctionConnection",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"variables": {
					"blobPath": {
						"type": "String"
					},
					"blobName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}